body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(47, 135, 207), rgb(90, 39, 104));
}

.box{
    height: auto;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 15px;
    width: 20%;
    
}

fieldset{
    height: auto;
    height: 100%;
    border: 3px solid aqua;
    border-radius: 7px;
}
legend{
    border: 1px solid aqua;
    padding: 10px;
    text-align: center;
    background-color: aqua;
    border-radius: 8px;
}
.inputBox{
    position: relative;
    margin: auto;
    left: 18%;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    width: 60%;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.labelInputnome{
    position: absolute;
    top: 0px;
    left: 19%;
    pointer-events: none;
    pointer-events: none;
    transition: .5s;
}
.labelInputsec{
    position: absolute;
    top: 0px;
    left: 25%;
    pointer-events: none;
    transition: .5s;
}
.labelInputtelefone{
    position: absolute;
    top: 0px;
    left: 20%;
    pointer-events: none;
    pointer-events: none;
    transition: .5s;
}
.labelInputendereco{
    position: absolute;
    top: 0px;
    left: 23%;
    pointer-events: none;
    pointer-events: none;
    transition: .5s;
}
.labelInputcpf{
    position: absolute;
    top: 0px;
    left: 27%;
    pointer-events: none;
    transition: .5s;
}
.labelInputlogin{
    position: absolute;
    top: 0px;
    left: 26%;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInputnome,
.inputUser:valid ~ .labelInputnome{
    top: -12px;
    left: -10px;
    font-size: 12px;
    color: aqua;
}
.inputUser:focus ~ .labelInputsec,
.inputUser:valid ~ .labelInputsec{
    top: -12px;
    left: -10px;
    font-size: 12px;
    color: aqua;
}
.inputUser:focus ~ .labelInputtelefone,
.inputUser:valid ~ .labelInputtelefone{
    top: -12px;
    left: -10px;
    font-size: 12px;
    color: aqua;
}
.inputUser:focus ~ .labelInputendereco,
.inputUser:valid ~ .labelInputendereco{
    top: -12px;
    left: -10px;
    font-size: 12px;
    color: aqua;
}
.inputUser:focus ~ .labelInputcpf,
.inputUser:valid ~ .labelInputcpf{
    top: -12px;
    left: -10px;
    font-size: 12px;
    color: aqua;
}
.inputUser:focus ~ .labelInputlogin,
.inputUser:valid ~ .labelInputlogin{
    top: -12px;
    left: -10px;
    font-size: 12px;
    color: aqua;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right, rgb(40, 40, 175), rgba(151, 35, 151, 0.582));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right, blue, purple);
}

